@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background-color: #f7f1df;
  color: #1d1d1b;
}

a {
  text-decoration: none;
}